
## <summary>policy for gram</summary>


########################################
## <summary>
##	Transition to gram.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`gram_domtrans',`
	gen_require(`
		type gram_t, gram_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, gram_exec_t, gram_t)
')


########################################
## <summary>
##	Execute gram server in the gram domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`gram_initrc_domtrans',`
	gen_require(`
		type gram_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, gram_initrc_exec_t)
')


########################################
## <summary>
##	Search gram lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`gram_search_lib',`
	gen_require(`
		type gram_var_lib_t;
	')

	allow $1 gram_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read gram lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`gram_read_lib_files',`
	gen_require(`
		type gram_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, gram_var_lib_t, gram_var_lib_t)
')

########################################
## <summary>
##	Manage gram lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`gram_manage_lib_files',`
	gen_require(`
		type gram_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, gram_var_lib_t, gram_var_lib_t)
')

########################################
## <summary>
##	Manage gram lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`gram_manage_lib_dirs',`
	gen_require(`
		type gram_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, gram_var_lib_t, gram_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a gram environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`gram_admin',`
	gen_require(`
		type gram_t;
		type gram_initrc_exec_t;
		type gram_var_lib_t;
	')

	allow $1 gram_t:process { ptrace signal_perms };
	ps_process_pattern($1, gram_t)

	gram_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 gram_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, gram_var_lib_t)

')

